<header id="header">
    <div class="container">
    	<a href="{{ site.baseurl }}">
		<img src="{{ "img/blog.png" | prepend: site.baseurl }}"></a>
    </div>
    <div class="container">
        <a href="img/image.jpeg" target="_blank">
<img src="{{ "img/image.jpeg" | prepend: site.baseurl }}">
</a>
    </div>
    <br><br>
    
    <code>baap_42</code>
    <br>
    <br>
    <ul>
        <li><a href="https://adnan-azmat.github.io">Home</a></li>
        <li><a href="https://adnan-azmat.github.io/blog">Blog</a></li>
    </ul>
    
</header>